/*リセットCSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

a {
  text-decoration: none;
  color: #FAFAFA;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*header*/

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.logo {
  height: 70px;
  float:left;
}

.nav {
  float: right;
}

.nav-list {
  float: left;
  width: 120px;
  line-height: 70px;
  color: #FAFAFA;
  padding: 0 30px;
  list-style: none;
  font-size: 16px;
}

/*main*/

/*mv*/

#mv {
  width: 100%;
  height: 650px;
  text-align: center;
  color: #FAFAFA;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.mv-title {
  padding-top: 200px;
  font-family: 'Raleway', sans-serif;
  font-size: 64px;
}

.mv-text {
  margin-top: 10px;
  font-size: 20px;
}

/*共通部分*/

.container {
  width: 1024px;
  margin: 0 auto;
}

.heading {
  font-size: 32px;
  font-family: 'Raleway',sans-serif;
  text-align: center;
  padding-top: 90px;
}

.heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}

.heading-text {
  font-size: 16px;
  padding-top: 30px;
  text-align: center;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*portfolio*/

#portfolio {
  background-color: #ECEFF1;
}

.production-group {
  width: 920px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.production {
  float:left;
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
}

.production:nth-child(3n) {
  margin-right: 0;
}

.bg-1 {
  background-image: url(img/sketch.jpg);
}

.bg-2 {
  background-image: url(img/websuku.png);
}

.bg-3 {
  background-image: url(img/write.jpg);
}

.bg-4 {
  background-image: url(img/webcamp.png);
}

.bg-5 {
  background-image: url(img/talk.jpg);
}

.bg-6 {
  background-image: url(img/webcamp-mother.png);
}
/*feature*/

.strength-group {
  width: 980px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.strength {
  float:left;
  width: 320px;
  height: auto;
  text-align: center;
  margin-right: 10px;
}

.strength:last-child {
  margin-right: 0;
}

.strength .fa {
  font-size: 60px;
}

.strength-title {
  font-size: 20px;
  padding: 10px 0;
}

.strength-text {
  font-size: 16px;
  text-align: left;
}

/*profile*/

#profile {
  background-color: #ECEFF1;
}

.profile-group {
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.left-content {
  width: 50%;
  float: left;
}

.my-face {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(img/my-icon.jpg);
}

.right-content {
  width: 50%;
  float: right;
}

.discription-title:first-child {
  margin-top: 0;
}

.discription-title {
  font-size: 20px;
  margin: 20px 0 5px 0;
}

.discription-text {
  font-size: 16px;
}

/*contact*/

.contact-group {
  width: 800px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.left-contact-content {
    width: 130px;
    margin: 0 auto;
    line-height: 1.8;
}

.link-text {
  text-decoration: underline;
  color: #212121;
}

.right-contact-content {
  width: 200px;
  margin: 0 auto;
}

.right-contact-content .fab {
  font-size: 40px;
  margin: 10px 20px 0 0;
}

.right-contact-content .fab:last-child {
    margin-right: 0;
}

/*footer*/

footer {
  width: 100%;
  height: 60px;
  background-color: #EC715F;
  text-align: center
}

.footer-text {
  font-size: 16px;
  color: #FAFAFA;
  line-height: 60px;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
 
#back img {
  width: 50px;
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {

  header {
    height: 80px;
  }

  .container {
    width: 90%;
  }

  .logo {
    float: none;
    height: 80px;
  }

  /* ---------------------------- */
  /* --- ハンバーガーアイコン --- */
  /* ---------------------------- */
   
   
  #hm-icon{
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
  }
   
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
   
  .menu-trigger {
    position: relative;
    width: 50px;
    height: 44px;
  }
   
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
  }
   
  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
   
  .menu-trigger span:nth-of-type(2) {
    top: 20px;
  }
   
  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
   
  .menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
    background-color: #fff;
  }
   
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
   
  .menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
    background-color: #fff;
  }
   
   
  /* ------------------------ */
  /* ------ spメニュー ------ */
  /* ------------------------ */
   
   
  #sp-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    width: 100%;
    min-height: 100%;
    display: none;
    z-index: 9;
  }
   
  #sp-menu li{
    text-align: center;
    margin-bottom: 30px;
  }
   
  #sp-menu a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }


  .nav {
    float: none;
  }
  .nav-list {
    display: none;
    float: none;
    width: 100%;
    line-height: 50px;
    border-bottom: 1px solid gray;
    text-align: center;
    background-color: rgba(0,0,0,.9);
  }

  #mv {
    background-image: url(img/code.png);
  }

  .mv-title {
    font-size: 40px;
  }

  .mv-text {
    font-size: 18px;
  }

  #portfolio {
    padding: 0 5%;
  }

  .sp-none {
    display: none;
  }

  .production-group {
    width: 300px;
  }

  .production {
    float: none;
  }

  .strength-group {
    width: 320px;
  }

  .strength:first-child {
    margin-top: 0px;
  }

  .strength {
  float: none;
  margin-top: 20px;
  }

  .profile-group {
    text-align: center;
  }

  .left-content {
    float: none;
    width: 100%;
  }

  .discription-title:first-child {
    margin-top: 20px;
  }

  .right-content {
    float: none;
    width: 100%;
    padding: 20px;
  }

  .contact-group {
    width: 100%;
    text-align: center;
  }

}