/*リセットCSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

a {
  text-decoration: none;
  color: #FAFAFA;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*header*/

header {
  width: 1024px;
  height: 70px;
  background-color: #EC715F;
  text-align: right
}

.logo {
  height: 70px;
  float:left;
}

nav {
  float: right;
}

.nav-list-item {
  list-style: none;
  float: left;
  font-size: 16px;
  padding: 0 30px;
  line-height: 70px;
}

/*main*/

/*main-visual*/

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  color: #FAFAFA;
  text-align: center;
  padding-top: 200px;
}

.main-visual-title {
  font-size: 64px;
}

.main-visual-text {
  font-size: 20px;
  margin-top: 10px;
}

/*共通部分*/

.container {
}

.heading {
  font-size: 32px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  padding-top: 90px;
}

.heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}

.heading-text {
  font-size: 16px;
  color: #000000;
  padding-top: 30px;
  text-align: center;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*portfolio*/

#portfolio {
  background-color: #ECEFF1;
}

.production-group {
  width: 920px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.production {
  float:left;
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
}

.production:nth-child(3n) {
  margin-right: 0;
}

.bg-1 {
  background-image: url(img/sketch.jpg);
}

.bg-2 {
  background-image: url(img/websuku.png);
}

.bg-3 {
  background-image: url(img/write.jpg);
}

.bg-4 {
  background-image: url(img/webcamp.png);
}

.bg-5 {
  background-image: url(img/talk.jpg);
}

.bg-6 {
  background-image: url(img/webcamp-mother.png);
}
/*feature*/

.strength-group {
  width: 980px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.strength {
  float:left;
  width: 320px;
  height: auto;
  text-align: center;
  margin: 10px 10px 0 0;
}

.strength:nth-child(3n) {
  margin-right: 0;
}

.strength .fa {
  font-size: 60px;
  margin-right: 20px;
}

.strength-title {
  font-size: 20px;
  color: #000000;
  margin: 10px 0;
}

.strength-text {
  font-size: 16px;
  color: #000000;
}

/*profile*/

#profile {
  background-color: #ECEFF1;
}

.profile-group {
  width: 1024px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.left-content {
  width: 50%;
  float: left;
}

.my-face {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(img/my-icon.jpg);
}

.right-content {
  width: 50%;
  float: right;
}

.discription-title:first-child {
  margin-top: 0;
}

.discription-title {
  font-size: 20px;
  color: #000000;
  margin: 20px 0 5px 0;
}

.discription-text {
  font-size: 16px;
  color: #000000;
}

/*contact*/

.contact-group {
  width: 800px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.left-contact-content {
    width: 130px;
    margin: 0 auto;
}

.link-text {
  text-decoration: underline;
  color: #212121;
}

.right-contact-content {
  width: 200px;
  margin: 0 auto;
}

.right-contact-content .fab {
  font-size: 50px;
  margin-right: 20px;
}

.right-contact-content .fab:last-child {
    margin-right: 0;
}

/*footer*/

footer {
  width: 1024px;
  height: 60px;
  background-color: #EC715F;
  text-align: center
}

.footer-text {
  font-size: 16px;
  color: #FAFAFA;
  line-height: 60px;
}